<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="../css/loginstyle.css" type="text/css">

    <title>Login</title>

</head>

<body>


    <h1>CBT Exam Software</h1>

    <div id="container">

        <div class="login-pane">
            <h2>Login</h2>
            <div id="pIcon"><img src="../images/icons8_Lock_52px.png"></div>
            <div class="centralize-children">
                <span class="special-span">Username:</span>
                <input type="text" placeholder="Username" class="data-field" id="username-field" required="">
            </div>
            <div class="centralize-children">
                <span class="special-span">Password:</span>
                <input type="password" placeholder="Password" class="data-field" id="password-field" required="">
            </div>
            <div class="centralize-children">
                <button id="login-button">Login</button>
            </div>
        </div>
    </div>

</body>

<script src="../controllers/login.js "></script>

</html>